#map {
    position: absolute;
    left: 0px;
    top: 0px;
}

#unitsArena {
    position: absolute;
    left: 0px;
    top: 0px;
}

#controlsArena {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}

.meterBar {
  width:64px;
  height:8px;
}
.meterBarFull {
  background:blue;
}
.meterBarEmpty {
  background:red;
}
